{% extends 'base.html' %}

{% block content %}
  <h3>{{ request.form['body'] or node['body'] }}</h3>
  <div style="display:flex;justify-content: space-evenly;flex-direction: column;">
    {% for child in listof_child %}
      <a href="../{{ request.form['child_id'] or child['child_id'] }}/read">[{{ request.form['child_id'] or child['child_id'] }}] {{ request.form['child_title'] or child['child_title'] }}</a>
    {% endfor %}
  </div>

  <h1 style="align-self: end;">[{{ request.form['title'] or node['title'] }}]</h1>
{% endblock %}